@{
    ViewBag.Title = "Archivo Eliminado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        El archivo se ha eliminado con exito!
    </div>
</div>

