
@{
    ViewBag.Title = "editComents";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        Los datos del archivo se han actualizado con exito!
    </div>
</div>

