
@{
    ViewBag.Title = "renameFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        El archivo se ha renombrado con exito!
    </div>
</div>
