
@{
    ViewBag.Title = "UpdateRol";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        EL usuario <b>@ViewBag.shared</b> ha sido cambiado de rol exitosamente!
    </div>
</div>

