
@{
    ViewBag.Title = "UpdateCuenta";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-sm">
    <div class="alert alert-success" role="alert">
        La cuenta se ha actualizado con exito, la nueva tarifa se descontara de tu metodo de pago!
    </div>
</div>

