
@{
    ViewBag.Title = "UpdatePago";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-sm">
    <div class="alert alert-success" role="alert">
        El método de pago se ha actualizado con exito!
    </div>
</div>


