
@{
    ViewBag.Title = "SharedFile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container-sm">
    <div class="alert alert-success" role="alert">
        EL archivo se ha compartido exitosamente con <b>@ViewBag.shared</b>
    </div>
</div>
