
@{
    ViewBag.Title = "CuentaCreada";
    Layout = "~/Views/Shared/Layout_1.cshtml";
}

<div class="container">
    <div class="alert alert-success" role="alert">
        Tu cuenta ha sido creada con exito!
    </div>
    <div style="text-align:center">
        @Html.ActionLink("Ir a mi Cuenta", "Login", "Login",new { @class = "btn btn-warning" }, null)
    </div>
</div>
