
@font-face {
    font-family: "Product Sans";
    src: url('https://fonts.gstatic.com/s/productsans/v7/HYvgU2fE2nRJvZ5JFAumwegdm0LZdjqr5-oayXSOefg.woff2') format('woff2');
}

body, html, input, btn {
    font-family: 'Product Sans';
    margin: 0;
}



@media (max-width: 400px) {
    .container {
        padding-left: 15px;
        padding-right: 15px;
    }

    .containerConfirm {
        padding-left: 15px;
        padding-right: 15px;
        background-color:orangered;
    }
}

* {
    box-sizing: border-box;
}


#unsafe ul li {
    padding-left: 0;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    margin-bottom: 1rem;
    position: relative;
    list-style-type: none;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.input-container {
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-bottom: 5px;
}

.icon {
    background: #f1f1f1;
    color: black;
    min-width: 50px;
    text-align: center;
    padding: 15px;
    margin: 5px 0 12px 0;
    border: none;
    border-radius: 5px 0px 0px 5px;
}

.container {
    position: absolute;
    margin: 20px;
    max-width: 320px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

.containerConfirm {
    position: absolute;
    margin: 20px;
    width: 400px;
    padding: 30px;
    border-radius: 15px;
    background-color: white;
}

.bg-img {
    background-image: url("bg-1.jpg");
    width: 100%;
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 1;
}



input[type=text], input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 12px 0;
    border: none;
    background: #f1f1f1;
    border-radius: 0px 5px 5px 0px;
    font-family: 'Product Sans';
    font-size: medium;
}

    input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
        border-radius: 5px;
        font-family: 'Product Sans';
        font-size: medium;
    }


.btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
    border-radius: 5px;
    font-family: 'Product Sans';
    font-size: medium;
}

.image-logon {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 15px;
}

.btn:hover {
    opacity: 1;
}

.input {
    border-radius: 10px;
    font-family: 'Product Sans';
    font-size: medium;
}



tr:nth-child(even) {
    background-color: #f2f2f2;
}
