@using System.Security;
@{

    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <link href="~/Content/CSS/StyleSheet.css" rel="stylesheet" />
    <link rel="icon" type="image/png" href="~/Content/Images/favicon.ico" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css">
</head>
<body>        
    @RenderBody()
</body>
</html>
